*{
   
    margin: 0;
    padding: 0;
}

html{
    font-family: Helvetica;
}

/* nav{
    position: absolute;
    background-color:black;
    opacity: 50%;
    color: whitesmoke;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    padding: 2% 0 2% 2%;
} */

/* nav a{
    color: whitesmoke;
    font-size: x-large;
    margin-right: 2%;
    text-decoration: none;
} */

.bg{
    position: absolute;
    background-image: url('./img/Laptop-HiRes.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position:initial;
    background-size: cover;
}

.banner{
    position: relative;
    background-color:black;
    opacity: 50%;
    top: 30%;
    
    
}

.banner>h1{
    position: relative;
    color: whitesmoke;
    left: 60%;
   
}

.banner>h3{
    position: relative;
    color: whitesmoke;
    left: 60%;
   
}

/* .carousel{
    position:relative;
    background-color: black;
    width: 100%;
    height: 500px;

} */